<div class="container-fluid landing1 vh-100">
  <br><br><br><br><br><br><br><br><br><br><br>
  <div class="container content-landpage">
    <div class="row">
        <div class="col-lg-5 col-sm-12">
            <img src="assets/images/secondpic.png" height="500" alt="">
        </div>
        <div class="col-lg-6 col-sm-12">
            <div class="container my-4 text-end">
                    <h1 class="primary-color">بروكسي</h1>
            </div>
            <div class="container my-2 text-end">
                    <h1>تمتع بالجودة و الأداء العالي</h1>
            </div>
            <div class="container mt-5 d-flex justify-content-end">
                <button type="button" class="btn btn-lg mx-2 rounded-pill btn2">تواصل معنا عبر الواتساب</button>
                 <button type="button" class="btn btn-lg mx-2 rounded-pill btn1">استكشف بروكسي</button>
            </div>
        </div>
       </div>
  </div>
<div class="row">
<div class="col-lg-7 col-sm-12">
</div>
<div class="col-lg-5 col-sm-12">
<div class="container d-flex justify-content-center">
    <div class="mx-5 pointer"><img src="assets/images/ant-design_youtube-filled.png" alt=""></div>
     <div class="mx-5 pointer"><img src="assets/images/ic_baseline-facebook.png" alt=""></div>
    <div class="mx-5 pointer"><img src="assets/images/mdi_twitter.png" alt=""></div>
    <div class="mx-5 pointer"><img src="assets/images/mdi_instagram.png" alt=""></div>
    <div class="mx-5 pointer"><img src="assets/images/ic_baseline-whatsapp.png" alt=""></div>
</div>
</div>

</div>


</div>
           

<div class="seconddiv vh-100">
  <div class="d-flex justify-content-center">
    <h1 class="primary-color mt-5 headsection2">خدمات بروكسي</h1>
  </div>
  <div class="d-flex justify-content-center mt-4">
    <div class="grid-container1">
      <div class="grid-item1">
        <div class="polygon polygon-first"></div>
      </div>
      <div class="grid-item1">
        <div class="polygon polygon-second"></div>
      </div>
      <div class="grid-item1">
        <div class="polygon polygon-first"></div>
      </div>
      <div class="grid-item1">
        <div class="polygon polygon-second">
          
        </div>
      </div>
      <div class="grid-item1">
        <div class="polygon polygon-first"></div>
      </div>
      <div class="grid-item1">
        <div class="polygon polygon-second"></div>
      </div>
      <div class="grid-item1">
        <div class="polygon polygon-first"></div>
      </div>
      <div class="grid-item1">
        <div class="polygon polygon-second"></div>
      </div>
      <div class="grid-item1">
        <div class="polygon polygon-first"></div>
      </div>
    </div>
 </div>

</div>

<div class="seconddiv vh-100">
  <div class="d-flex justify-content-center">
    <h1 class="primary-color mt-3 headsection2">ما هي المزايا التي يمكننا تقديمها للعملاء</h1>
  </div>
  <div class="d-flex justify-content-center mt-4">
   <p class="fs-4 ">حين نقدم خدمات تقنية و تسويقية عالية الجودة <br>تساعدكم على تحقيق أهدافكم بشكل فعال</p> 
</div>
  <div class="col-12 d-flex justify-content-center">
    <img src="assets/images/section3.png" style="margin-top: -24%;" class="w-100" alt="">
  </div>
</div>
<div class="seconddiv vh-100">
    <div class="d-flex justify-content-center">
        <h1 class="primary-color headsection2" style="margin-top: 10%;">عن بروكسي</h1>
      </div>
      <div class="container-fluid">
        
      <div class="row mt-5">
        <div class="col-lg-6 d-flex justify-content-center">
            <div class="row">
                <div class="col-12 d-flex justify-content-end">
                    <div style="font-size: 30px;line-height: 200%;text-align: justify;direction: rtl;" >
                        شركة بروكسي للخدمات التقنية هي شركة رائدة في مجال تقديم <br>  الخدمات التقنية والحلول الإلكترونية. تتميز الشركة بفريق مؤهل 
                    <br> ومتخصص في مجالات التطوير التقني والتصميم والتسويق
                    <br>  الإلكتروني، مما يتيح لها تقديم الخدمات بأعلى جودة 
                    </div>
                </div>
                <div class="col-12 d-flex justify-content-center">
                    <button class="btn detailsbtn" routerLink="aboutus">
                 <img src="assets/images/btnpic.png" alt="">
                    </button>
                </div>
            </div>
            
        </div>
        <div class="col-lg-5">
            <img src="assets/images/twopicinone.png" alt="">
        </div>
        <div class="col-lg-1">
        </div>
      </div>
      </div>

</div>



<div class="seconddiv vh-100">
    <div class="d-flex justify-content-center">
        <h1 class="primary-color headsection2">طريق بروكسي للنجاح </h1>
      </div>
     <br><br>
        <div class="container-fluid vh-100">  
           <div class="container-fluid">
            <div class="wrapper">
              <div class="box1 p-2">
              <img src="assets/images/Rectangle 13.png" class="w-100">
              <div class="child">
                <h1>الريادة</h1>
              </div>
            </div>
            <div class="box2 p-2">
              <img src="assets/images/Rectangle 12.png" class="w-100">
              <div class="child">
                <h1>الشفافية</h1>
              </div>
            </div>
            <div class="box3 p-2">
              <img src="assets/images/Rectangle 15.png" class="w-100">
              <div class="child">
                <h1>الاستمرارية</h1>
              </div>
            </div>
            <div class="box4 p-2">
              <img src="assets/images/Rectangle 14.png" class="w-100">
              <div class="child">
                <h1>الجودة</h1>
              </div>
            </div>
            </div>
    
           </div>
      </div>
        <div class="container-fluid row">
      <div class="col-lg-6">
        <img src="assets/images/map.png" alt="">
      </div>
      <div class="col-lg-6 position-relative">
        <div class="arabpar text-center position-absolute top-50 start-50 translate-middle fs-3">
          <p>
            المملكه العربيه السعوديه , جده , شارع الأمير  سلطان , برج سكاي الدور  الأول
          </p><br>
          <p>
             الإمارات العربيه المتحده , مركز 
            التجارة العالمي
                       </p><br>
          <p>
            مصر , المعادي , كورنيش المعادي , برج دالا 
            الطابق الرابع والثلاثين          </p>
        </div>
        
      </div>
        </div>
</div>
<div class="thirddiv vh-100">
</div>
