<!-- <div class="vh-100 sectionone">
  <div class="d-none d-md-block"><br><br><br><br><br><br><br><br><br></div>
  <div class="container">
    <div class="row" >
        <div class="col-lg-5 col-sm-12 d-none d-md-block">
            <img src="assets/images/secondpic.png" class="w-50" alt="">
        </div>
        <div class="col-lg-6 col-sm-12 entryinmobile">
            <div class="container my-4 text-end">
                    <h1 class="primary-color">{{ "بروكسي" | translate }}</h1>
            </div>
            <div class="container my-2 text-end">
                    <h1>تمتع بالجودة و الأداء العالي</h1>
            </div>
            <div class="container mt-5 d-flex justify-content-end">
                <button type="button" class="btn btn-lg mx-2 rounded-pill btn2">تواصل معنا عبر الواتساب</button>
                 <button type="button" class="btn btn-lg mx-2 rounded-pill btn1">استكشف بروكسي</button>
            </div>
        </div>
       </div>
       <br><br><br><br>
  </div>  

</div> -->

<!-- the carousel in the landing page -->
<div id="carouselExampleSlidesOnly" class="carousel slide p-0" data-bs-ride="carousel">
  <div class="carousel-inner">
    <!-- first div in the slider -->
    <div class="carousel-item active sectionone vh-100">
      <div class="d-none d-md-block"><br><br><br><br><br><br><br><br><br></div>
      <div class="container">
        <div class="row" >
          <div class="col-lg-5 col-sm-12 d-none d-md-block">
              <img src="assets/images/secondpic.png" class="w-50" alt="">
          </div>
          <div class="col-lg-6 col-sm-12 entryinmobile">
              <div class="container my-4 text-end">
                      <h1 class="primary-color">{{ "بروكسي" | translate }}</h1>
              </div>
              <div class="container my-2 text-end">
                      <h1>تمتع بالجودة و الأداء العالي</h1>
              </div>
              <div class="container mt-5 d-flex justify-content-end">
                  <button type="button" class="btn btn-lg mx-2 rounded-pill btn2">تواصل معنا عبر الواتساب</button>
                   <button type="button" class="btn btn-lg mx-2 rounded-pill btn1">استكشف بروكسي</button>
              </div>
          </div>
         </div> 
      </div> 
        </div>
        <!-- second div in slider -->
    <div class="carousel-item sectionone vh-100">
      <div class="d-none d-md-block"><br><br><br><br><br><br><br><br><br></div>
      <div class="container">
        <div class="row" >
          <div class="col-lg-5 col-sm-12 d-none d-md-block">
              <img src="assets/images/secondpic.png" class="w-50" alt="">
          </div>
          <div class="col-lg-6 col-sm-12 entryinmobile">
              <div class="container my-4 text-end">
                      <h1 class="primary-color">{{ "بروكسي" | translate }}</h1>
              </div>
              <div class="container my-2 text-end">
                      <h1>تمتع بالجودة و الأداء العالي</h1>
              </div>
              <div class="container mt-5 d-flex justify-content-end">
                  <button type="button" class="btn btn-lg mx-2 rounded-pill btn2">تواصل معنا عبر الواتساب</button>
                   <button type="button" class="btn btn-lg mx-2 rounded-pill btn1">استكشف بروكسي</button>
              </div>
          </div>
         </div> 
      </div>   
       </div>
       <!-- third div in slider -->
    <div class="carousel-item sectionone vh-100">
      <div class="d-none d-md-block"><br><br><br><br><br><br><br><br><br></div>
      <div class="container">
        <div class="row" >
          <div class="col-lg-5 col-sm-12 d-none d-md-block">
              <img src="assets/images/secondpic.png" class="w-50" alt="">
          </div>
          <div class="col-lg-6 col-sm-12 entryinmobile">
              <div class="container my-4 text-end">
                      <h1 class="primary-color">{{ "بروكسي" | translate }}</h1>
              </div>
              <div class="container my-2 text-end">
                      <h1>تمتع بالجودة و الأداء العالي</h1>
              </div>
              <div class="container mt-5 d-flex justify-content-end">
                  <button type="button" class="btn btn-lg mx-2 rounded-pill btn2">تواصل معنا عبر الواتساب</button>
                   <button type="button" class="btn btn-lg mx-2 rounded-pill btn1">استكشف بروكسي</button>
              </div>
          </div>
         </div> 
      </div>  
    </div>
  </div>
</div>







<!-- the second section in landing page -->
<div class="seconddiv">
  <div class="d-flex justify-content-center">
    <h1 class="primary-color mt-5 headsection2">{{ "خدمات بروكسي" | translate}}</h1>
  </div>
  <br><br><br>
 <!-- ================================================================================================================== -->
<div class="container">
    <div id="carouselExampleCaptions" class="carousel slide vh-50">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="assets/images/slider1.png" class="imageslider" alt="...">
            <p class="text-center fs-3">{{ "تحسين محركات البحث" | translate}}</p>
        </div>
        <div class="carousel-item ">
          <img src="assets/images/slider2.png" class="imageslider" alt="...">
            <p class="text-center fs-3">{{ "انتاج الفيديو" | translate}}</p>
        </div>
        <div class="carousel-item ">
          <img src="assets/images/slider3.png" class="imageslider" alt="...">
            <p class="text-center fs-3">{{ "تصميم المواقع" | translate}}</p>
        </div>
       
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>  
</div>
<!-- ================================================================================================================== -->

</div>
<div class="seconddiv">
  <div class="d-flex justify-content-center">
    <h1 class="primary-color mt-3 headsection2 text-end">{{ "ما هي المزايا التي يمكننا تقديمها للعملاء" | translate}}</h1>
  </div>
  <div class="d-flex justify-content-center">
   <p class="fs-4 text-center">{{ "حين نقدم خدمات تقنية و تسويقية عالية الجودة تساعدكم على تحقيق أهدافكم بشكل فعال" | translate }}</p> 
</div>
  <div class="col-12 d-flex justify-content-center">
    <img src="assets/images/section3.png" style="margin-top: -24%;" class="w-100" alt="">
  </div>
</div>


<div class="seconddiv">
  <br><br><br><br><br>
  <div class="d-flex justify-content-center">
      <h1 class="primary-color headsection2">{{ "طريق بروكسي للنجاح " | translate}}</h1>
    </div>
    <div class="container text-center mt-5">
      <div class="road-map" style="position: relative;">
        <span class="steps">
            <img src="assets/images/Ellipse 149.png" class="w-25">
        </span>
        <span class="step-arrow">
            <img src="assets/images/Isolation_Mode.png">
        </span>
        <span class="steps">
            <img src="assets/images/Ellipse 150.png" class="w-25" style="position: relative;top: 49px;margin: 10;right: -4px;">
        </span>
        <br>
        <span class="step-arrow">
  
<img src="assets/images/Isolation_Mode-1.png" style="
visibility: hidden;">
<img src="assets/images/Isolation_Mode-1.png" style="
visibility: hidden;">
<img src="assets/images/Isolation_Mode-1.png" style=" 
    display: inline-block;
    margin: 21px 106px 0px 0px;
">
        </span>
        <br>
        <span class="steps">
            <img src="assets/images/Ellipse 151.png" class="w-25" style="
            position: relative;
            display: inline-block;
            top: -80px;
        ">
        </span>
        <span class="step-arrow">
            <img src="assets/images/Isolation_Mode-2.png" style="position: relative;
            top: -18px;">
        </span>
        <span class="steps">
            <img src="assets/images/Ellipse 152.png" class="w-25">
        </span>
    </div>
    </div>
</div>

<div class="seconddiv">
  <div class="seconddiv vh-100">
    <div class="d-flex justify-content-center">
        <h1 class="primary-color headsection2" style="margin-top: 10%;">{{ "عن بروكسي" | translate}}</h1>
      </div>
      <div class="container">
      <div class="row mt-5">
        <div class="col-lg-6 d-flex justify-content-center col-sm-12 seconddiv">
            <div class="row">
                <div class="col-12 d-flex justify-content-end">
                    <div style="font-size: 20px;line-height: 150%;text-align: justify;direction: rtl;" >
                        شركة بروكسي للخدمات التقنية هي شركة رائدة في مجال تقديم <br>  الخدمات التقنية والحلول الإلكترونية. تتميز الشركة بفريق مؤهل 
                    <br> ومتخصص في مجالات التطوير التقني والتصميم والتسويق
                    <br>  الإلكتروني، مما يتيح لها تقديم الخدمات بأعلى جودة 
                    </div>
                </div>
                <div class="col-12 d-flex justify-content-center col-sm-12 seconddiv">
                    <button class="btn detailsbtn" routerLink="/aboutus">
                 <img src="assets/images/btnpic.png" class="w-100" alt="">
                    </button>
                </div>
            </div>
            
        </div>
        <div class="col-lg-6 col-sm-12 seconddiv">
            <img src="assets/images/twopicinone.png" class="w-100" alt="">
        </div>
        
      </div>
      </div>

</div>
</div>
<div class="seconddiv"><br><br><br><br><br><br><br><br><br></div>
<div class="seconddiv">
  <div class="seconddiv">
    <div class="container row">
  <div class="col-lg-6 col-md-12 px-0">
    <img [src]="map " class="w-100" alt="map">
  </div>
  <div class="col-lg-6 col-md-12">
    <div class="text-end fs-3 location">
      <div class="row">
        <div class="col-9">
          <p id="ksa">
            {{ "المملكه العربيه السعوديه , جده , شارع الأمير  سلطان , برج سكاي الدور  الأول" | translate }}
          </p>
        </div>
        <div class="col-3 px-lg-4">
          <img src="assets/images/KSA.png" (click)="SelectCountry('ksa')" class="w-100" alt="">
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-9">
          <p id="uae">
            {{ "الإمارات العربية المتحدة , مركز التجارة العالمي" | translate }}
                      </p>
        </div>
        <div class="col-3 px-lg-4">
          <img src="assets/images/UAE.png" (click)="SelectCountry('uae')" class="w-100" alt="">
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-9">
            <p id="egy">
               {{ "مصر ,المعادي ,كورنيش المعادي , برج دالا الطابق الرابع و الثلاثين" | translate}}
            </p>
        </div>
        <div class="col-3 px-lg-4">
          <img src="assets/images/EGY.png" (click)="SelectCountry('egy')" class="w-100" alt="">
        </div>
      </div>
    
    
    </div>    
  </div>
</div>
</div>
</div>


































