<div class="vh-100 sectionone">
  <div class="d-none d-md-block"><br><br><br><br><br><br><br><br><br></div>
  <div class="container ">
    <div class="row" >
        <div class="col-lg-5 col-sm-12 d-none d-md-block">
            <img src="assets/images/secondpic.png" class="w-75 " height="500" alt="">
        </div>
        <div class="col-lg-6 col-sm-12 entryinmobile">
            <div class="container my-4 text-end">
                    <h1 class="primary-color">بروكسي</h1>
            </div>
            <div class="container my-2 text-end">
                    <h1>تمتع بالجودة و الأداء العالي</h1>
            </div>
            <div class="container mt-5 d-flex justify-content-end">
                <button type="button" class="btn btn-lg mx-2 rounded-pill btn2">تواصل معنا عبر الواتساب</button>
                 <button type="button" class="btn btn-lg mx-2 rounded-pill btn1">استكشف بروكسي</button>
            </div>
        </div>
       </div>
  </div>  
</div>


<div class="seconddiv vh-100">
  <div class="d-flex justify-content-center">
    <h1 class="primary-color mt-5 headsection2">خدمات بروكسي</h1>
  </div>
  <br><br><br>
 <!-- ================================================================================================================== -->
<div class="container">
  <div class="wrapper">

    <section id="section1">
      <a href="#section3" class="arrow__btn left-arrow">‹</a>
      <div class="item">
        <a href="#">
          <img
            src=""
            alt="Describe Image">
  
            <h1 class="heading">Heading One</h1>
            <p class="duration">Duration: 10 min</p>
        </a>
      </div>
      <div class="item">
  
        <a href="#">
        <img
          src="https://occ-0-243-299.1.nflxso.net/dnm/api/v5/rendition/412e4119fb212e3ca9f1add558e2e7fed42f8fb4/AAAABZEK-7pZ1H5FD4cTyUb9qB_KeyJGz5p-kfPhCFv4GU_3mbdm8Xfsy4IBchlG9PFNdGff8cBNPaeMra72VFnot41nt0y3e8RLgaVwwh3UvyM2H2_MkmadWbQUeGuf811K7-cxJJh7gA.jpg"
          alt="Describe Image">
          
          <h1 class="heading">Heading One</h1>
          <p class="duration">Duration: 10 min</p>
          
        </a>
      </div>
      <div class="item">
        
        <a href="#">
        <img
          src="https://occ-0-243-299.1.nflxso.net/dnm/api/v5/rendition/412e4119fb212e3ca9f1add558e2e7fed42f8fb4/AAAABQCoK53qihwVPLRxPEDX98nyYpGbxgi5cc0ZOM4iHQu7KQvtgNyaNM5PsgI0vy5g3rLPZdjGCFr1EggrCPXpL77p2H08jV0tNEmIfs_e8KUfvBJ6Ay5nM4UM1dl-58xA6t1swmautOM.webp"
          alt="Describe Image">
          <h1 class="heading">Heading One</h1>
          <p class="duration">Duration: 10 min</p>
        </a>
      </div>
      <div class="item">
        <a href="#">
        <img
          src="https://occ-0-243-299.1.nflxso.net/dnm/api/v5/rendition/412e4119fb212e3ca9f1add558e2e7fed42f8fb4/AAAABdYtAqj8CyaJTWq5taD8Ro_UgwH3nne9QpFGVps-2J3IG-leqrfqXFii4jzZn48nPYTkrlwKQEV0R7_cEKlYBPRzdKqNODc-Oz26IL3LlLgFboXibIWXwxzeYxzuqn0I9TpARjeByw.jpg"
          alt="Describe Image">
          
          <h1 class="heading">Heading One</h1>
          <p class="duration">Duration: 10 min</p>
        </a>
      </div>
      <div class="item">
        <a href="#">
        <img
          src="https://occ-0-243-299.1.nflxso.net/dnm/api/v5/rendition/412e4119fb212e3ca9f1add558e2e7fed42f8fb4/AAAABbcCX42tsqGbBvO2y9CQv5-7QvYbCfoHtXsuc6NPCtZaKa4l4fBX3XWvUwG9F2A3CTsNpHVmulxBbdXKwK8Q6xGjejd9FoadGkZ7CnGrSl601TOQjzSHJ23NuIPC8j0QMGORL4uRIA.jpg"
          alt="Describe Image">
          <h1 class="heading">Heading One</h1>
          <p class="duration">Duration: 10 min</p>
          </a>
      </div>
      <a href="#section2" class="arrow__btn right-arrow">›</a>
    </section>
  
    <section id="section2">
      <a href="#section1" class="arrow__btn left-arrow">‹</a>
      <div class="item">
        <img
          src="assets/images/Polygon 1.png"
          alt="Describe Image">
      </div>
      <div class="item">
        <img
          src="assets/images/Polygon 1.png"
          alt="Describe Image">
      </div>
      <div class="item">
        <img
          src="https://occ-0-243-299.1.nflxso.net/dnm/api/v5/rendition/a76057bcfd003711a76fb3985b1f2cf74beee3b8/AAAABd3IBDpxbRcHXvRMFCZeKa2aHLU1P4SJtrACMS9om3yhLjqPlvNlmR_fypPxjtbsbnKaC4JZhPSpDG4r_kdxSHHAltWguMcCB-1Y1OShr2zWfUv7Whf_39fNH5ZJ3_0gxQrs0akmQjQz44_LT7jXH5LMZ7iMBAzac5IEj4m7Fn_5OWEGYnVsDsKG-QTommDooULMDF9bEw.jpg"
          alt="Describe Image">
      </div>
      <div class="item">
        <img
          src="https://occ-0-243-299.1.nflxso.net/dnm/api/v5/rendition/a76057bcfd003711a76fb3985b1f2cf74beee3b8/AAAABXSd7bhDddcwkq9XpksoQFCHVx29Sxl_h4hb2n3F2GIt32a4XWcOnctQfgnT5qdolv8UML6_xNB5CJ89h56wueb13mYmEBr0sx5e9iLPdtVcOQAOmKXKWHHXwFvJuCUwuNnL3s8eAQwqLXPVMHMEsujM684rUGrZNF2btN2GRy5-RyEslsxZO93V2Q_H2bWs8A8oayt1h5M.webp"
          alt="Describe Image">
      </div>
      <div class="item">
        <img
          src="https://occ-0-243-299.1.nflxso.net/dnm/api/v5/rendition/a76057bcfd003711a76fb3985b1f2cf74beee3b8/AAAABbXWODpAWqVXcmmjMA7K-2mPkQpvwCLfSdeyhVXzR8A3MSpdSEnnjf4HEJJTYC-TnktU6njTUGAxmzWEYCaJbk4v_ZeL-7QGzmkvYBjg_N-evr2XmcX-Fanoyvu_nimFP4iigPe4O3Vr_WcgplhwkDrJwPUJa84wRLrNAx3TufN5V7cWRP4indqu5HQahvgFEqfL9zjp4g.jpg"
          alt="Describe Image">
      </div>
      <a href="#section3" class="arrow__btn right-arrow">›</a>
    </section>
  
    
  </div>
</div>
  
<!-- ================================================================================================================== -->
</div>
<div class="seconddiv vh-100">
  <div class="d-flex justify-content-center">
    <h1 class="primary-color mt-3 headsection2">ما هي المزايا التي يمكننا تقديمها للعملاء</h1>
  </div>
  <div class="d-flex justify-content-center">
   <p class="fs-4 text-center">حين نقدم خدمات تقنية و تسويقية عالية الجودة <br>تساعدكم على تحقيق أهدافكم بشكل فعال</p> 
</div>
  <div class="col-12 d-flex justify-content-center">
    <img src="assets/images/section3.png" style="margin-top: -24%;" class="w-100" alt="">
  </div>
</div>


<div class="seconddiv  vh-100">
  <br><br><br><br><br>
  <div class="d-flex justify-content-center">
      <h1 class="primary-color headsection2">طريق بروكسي للنجاح </h1>
    </div>
  
</div>

<div class="seconddiv">
  <div class="seconddiv vh-100">
    <div class="d-flex justify-content-center">
        <h1 class="primary-color headsection2" style="margin-top: 10%;">عن بروكسي</h1>
      </div>
      <div class="container">
      <div class="row mt-5">
        <div class="col-lg-6 d-flex justify-content-center col-sm-12">
            <div class="row">
                <div class="col-12 d-flex justify-content-end">
                    <div style="font-size: 30px;line-height: 200%;text-align: justify;direction: rtl;" >
                        شركة بروكسي للخدمات التقنية هي شركة رائدة في مجال تقديم <br>  الخدمات التقنية والحلول الإلكترونية. تتميز الشركة بفريق مؤهل 
                    <br> ومتخصص في مجالات التطوير التقني والتصميم والتسويق
                    <br>  الإلكتروني، مما يتيح لها تقديم الخدمات بأعلى جودة 
                    </div>
                </div>
                <div class="col-12 d-flex justify-content-center col-sm-12">
                    <button class="btn detailsbtn" routerLink="aboutus">
                 <img src="assets/images/btnpic.png" class="w-100" alt="">
                    </button>
                </div>
            </div>
            
        </div>
        <div class="col-lg-5 col-sm-12">
            <img src="assets/images/twopicinone.png" class="w-100" alt="">
        </div>
        <div class="col-lg-1 col-sm-12">
        </div>
      </div>
      </div>

</div>
</div>




<div class="seconddiv d-none d-md-block">
  <div class="seconddiv vh-100">
    <div class="container row">
  <div class="col-lg-6 ">
    <img src="assets/images/map.png" class="w-100" alt="">
  </div>
  <div class="col-lg-6">
    <div class="text-end fs-3 location">
      <p>
        المملكه العربيه السعوديه , جده , شارع الأمير  سلطان , برج سكاي الدور  الأول
      </p><br>
      <p>
         الإمارات العربيه المتحده , مركز 
        التجارة العالمي
                   </p><br>
      <p>
        مصر , المعادي , كورنيش المعادي , برج دالا 
        الطابق الرابع والثلاثين          </p>
    </div>    
  </div>
</div>
</div>
</div>


































