.showfooter{
    background-color: #1E1E1E;
    background-image: url('./../../assets/images/footerbackground.png');
    background-repeat: no-repeat;
}
.whatsapplogo{
    position: fixed;
    right: 5%;
    top: 80%;
    z-index: 999;
}
.socialmediaicons{
    text-align: left;
}

@media screen and (max-width: 600px) {
    .whatsapplogo{
        position: fixed;
        right: 5%;
        top: 80%;
        z-index: 999;
    }
    .showfooter{
        position: relative;
        top: 100%;
    }
    .socialmedia{
        display: none;
    }
  }