<div class="showfooter">
   <div class="whatsapplogo">
    <button class="btn" >
        <a href="https://wa.me/1033884919" target="_blank"><img src="assets/images/whatsappfooter.png" class="w-50" alt=""></a>
    </button>
   </div><br>
<div class="container row" style="text-align: end;">
      <div class="col-lg-3 mt-5 col-md-12">
        <img src="assets/images/logo.png" alt="">
      </div>
      <div class="col-lg-9 col-md-12">
        <table class="table table-borderless">
            <thead>
              <tr>
                <th scope="col"><h3 class="primary-color">{{ "تواصل معنا" | translate}}</h3></th>
                <th scope="col"><h3 class="primary-color">{{ "الخدمات" | translate}}</h3></th>
                <th scope="col"><h3 class="primary-color">{{ "الرئيسية" | translate}}</h3></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><span class="socialmedia">Facebook</span><button class="btn"><img src="assets/images/Facebook.png" alt=""></button></td>
                <td>{{ "التسويق" | translate}}</td>
                <td>{{ "اكتشفنا" | translate}}</td>
              </tr>
              <tr>
                <td><span class="socialmedia">Twitter</span><button class="btn"><img src="assets/images/Twitter.png" alt=""> </button></td>
                <td>{{ "تصميم الموقع" | translate}}</td>
                <td>{{ "المزايا" | translate}}</td>
              </tr>
              <tr>
                <td><span class="socialmedia">Instagram</span><button class="btn"><img src="assets/images/Instagram.png" alt=""> </button></td>
                <td>{{ "انتاج الفيديو" | translate}}</td>
                <td>{{ "رحلة بروكسي" | translate}}</td>
              </tr>
              <tr>
                <td><span class="socialmedia">LinkedIn</span><button class="btn"><img src="assets/images/LinkedIn.png" alt=""> </button></td>
                <td>{{ "تحسين محركات البحث" | translate}}</td>
                <td>{{ "فروعنا" | translate}}</td>
              </tr>
              <tr>
                <td><span class="socialmedia">YouTube</span><button class="btn"><img src="assets/images/YouTube.png" alt=""> </button></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
          <hr style="color: #D4D2E3;">
       <div class="m-auto">
        <p style="text-align: center;">
            Copyright &copy; 2023 Proxy Group | All Rights Reserved
        </p>
       </div>
      </div>
</div>
</div>