.showfooter{
    background-color: #1E1E1E;
    background-image: url('./../../assets/images/footerbackground.png');
    background-repeat: no-repeat;
}
.whatsapplogo{
    position: fixed;
    right: 5%;
    top: 80%;
}
.socialmediaicons{
    text-align: left;
}

@media screen and (max-width: 600px) {
    .whatsapplogo{
        position: absolute;
        right: 10%;
        margin-top: -50px;
    }
    .showfooter{
        margin-top: 90%;
    }
  }