nav{
    /* margin-bottom: -14%; */
    position: absolute;
    left: 0px;
    right: 0px;
    z-index: 999;
    background-color: transparent;
  transition: background-color 0.5s ease-in-out;
}
nav.scrolled {
    background-color: #333;
}
.landing1{
    background-image: url('./../../assets/images/Rectangle 1.png');
    background-repeat: no-repeat;
    background-size: cover;      
}
.navbar{
    direction: rtl;
}

li{
    margin-inline: 0%;
    color: white !important;
    font-size: 24px;
}
li a{
    width: 140px !important;
}  
.switch{
    width: 150px;
    height: 45px;
    background-color: linear-gradient(to right, #0B0974 15.38%, #EAA357 93.61%) !important;
}
.form-switch .form-check-input:checked{
    background-image: url('./../../assets/images/englandflag.png') !important;
    background-color: linear-gradient(to right, #0B0974 15.38%, #EAA357 93.61%) !important;
    background-color: white;
    border: 0px;
}
/* .form-switch .form-check-input{
    background-image: url('assets/images/ksaflag.png') !important;
} */
.navdrop{
    background-color: #BD9A55;
    width: 280px;
    margin-left: -75%;
}
.navdroplang{
    background-color: #BD9A55;
    width: 216px;
    /* margin-left: -35%; */
}

@media (max-width: 600px) {
    .navbar-collapse{
        background-color: #494949;
        border-radius: 10%;
        padding: 5%;
     } 
     .navdrop{
        background-color: #BD9A55;
         width: 280px;
         margin-left: 0%;
     }
     .navdroplang{
        background-color: #BD9A55;
        width: 216px;
        margin-left: 0%;
    }
  }


 
  