<div class="seconddiv">
   <div class="d-none d-md-block"><br><br><br><br><br></div>
    <div class="seconddiv vh-100">
        <div class="d-flex justify-content-center">
          <h1 class="primary-color mt-5 headsection2">{{ "من نحن" | translate }}</h1>
        </div>
        <div class="container row mt-5 mx-0">
            <div class="col-lg-6 col-md-12 m-auto">
                <img src="assets/images/proxylogocontactus.png" class="w-100" alt="">
            </div>
            <div class="col-lg-6 text-center">
                <h1 class="primary-color">{{ " بروكسي جروب " | translate }}</h1>
                <p>
                  {{ "شركة بروكسي جروب للتسويق  والبرمجه هي إحدى الشركات الرائدة في مجال التسويق الرقمي والبرمجه، تأسست في عام 2023 ومقرها في مدينة ميامي بولاية فلوريدا في المملكه العربيه  السعوديه . تعمل الشركة على تقديم خدمات البرمجه والتصميم والتسويق الرقمي لمختلف الشركات والعلامات التجارية في مختلف القطاعات." | translate }}
                </p>
            </div>
          
        </div>
    </div>
<div class="d-none d-md-block"><br><br><br><br><br></div>
    <div class="seconddiv vh-100 my-3">
          <h1 class="primary-color mt-5 text-center">{{ "لماذا تختار بروكسي" | translate}}</h1>
                <p class="m-auto fs-4 text-center my-5">
                    {{ "شركة بروكسي جروب للتسويق  والبرمجه هي إحدى الشركات الرائدة في مجال التسويق الرقمي والبرمجه، تأسست في عام 2023 ومقرها في مدينة ميامي بولاية فلوريدا في المملكه العربيه  السعوديه . تعمل الشركة على تقديم خدمات البرمجه والتصميم والتسويق الرقمي لمختلف الشركات والعلامات التجارية في مختلف القطاعات" | translate }}
                </p>    
                <div class="container row m-auto my-5">
                 <div class="col-lg-5 col-md-12">
                    <img src="assets/images/firstofgrid.png" class="w-100" alt="">
                 </div>
                 <div class="col-lg-2"></div>
                 <div class="col-lg-5 col-md-12">
                    <img src="assets/images/secondofgrid.png" class="w-100" alt="">
                 </div>
                 <div class="col-lg-5 col-md-12">
                    <img src="assets/images/thirdofgrid.png" class="w-100" alt="">
                 </div>
                 <div class="col-lg-2"></div>
                 <div class="col-lg-5 col-md-12">
                    <img src="assets/images/fourthofgrid.png" class="w-100" alt="">
                 </div>
                </div>      
    </div>

<div><br><br><br><br><br><br><br><br><br><br></div>
     <div class="seconddiv">
                <div class="container row m-auto mt-5" >
                 <div class="col-lg-5 col-md-12">
                    <div class="row">
                       <div class="col-10">
                        <h3 class="text-end">{{ "استكشاف" | translate }}</h3>
                        <p class="text-end">
                            لدينا خبره في هذه المجالت المتخلفه منذ اكتر من 10 سنين في هذا المجال الكبير
نحن لدينا عمل مختلف  لدينا خبره في هذه المجالت المتخلفه منذ اكتر من 10 سنين
نحن لدينا عمل مختلف لدينا خبره في هذه المجالت المتخلفه منذ اكتر من 10 سنين
نحن لدينا عمل مختلف
                        </p>
                       </div>
                       <div class="col-2">
                        <img src="assets/images/logo1.png" class="w-100" alt="">
                       </div>
                    </div>
                    <div class="row">
                       <div class="col-10">
                        <h3 class="text-end">التخطيط</h3>
                        <p class="text-end">
                            لدينا خبره في هذه المجالت المتخلفه منذ اكتر من 10 سنين في هذا المجال الكبير
نحن لدينا عمل مختلف  لدينا خبره في هذه المجالت المتخلفه منذ اكتر من 10 سنين
نحن لدينا عمل مختلف لدينا خبره في هذه المجالت المتخلفه منذ اكتر من 10 سنين
نحن لدينا عمل مختلف
                        </p>
                       </div>
                       <div class="col-2">
                        <img src="assets/images/logo2.png" class="w-100" alt="">
                       </div>
                    </div>
                    <div class="row">
                       <div class="col-10">
                        <h3 class="text-end">التصميم</h3>
                        <p class="text-end">
                            لدينا خبره في هذه المجالت المتخلفه منذ اكتر من 10 سنين في هذا المجال الكبير
نحن لدينا عمل مختلف  لدينا خبره في هذه المجالت المتخلفه منذ اكتر من 10 سنين
نحن لدينا عمل مختلف لدينا خبره في هذه المجالت المتخلفه منذ اكتر من 10 سنين
نحن لدينا عمل مختلف
                        </p>
                       </div>
                        <div class="col-2">
                        <img src="assets/images/logo3.png" class="w-100" alt="">
                       </div>
                    </div>
                    <div class="row">
                       <div class="col-10">
                        <h3 class="text-end">اختبار العمل</h3>
                        <p class="text-end">
                            لدينا خبره في هذه المجالت المتخلفه منذ اكتر من 10 سنين في هذا المجال الكبير
نحن لدينا عمل مختلف  لدينا خبره في هذه المجالت المتخلفه منذ اكتر من 10 سنين
نحن لدينا عمل مختلف لدينا خبره في هذه المجالت المتخلفه منذ اكتر من 10 سنين
نحن لدينا عمل مختلف
                        </p>
                       </div>
                        <div class="col-2">
                        <img src="assets/images/logo4.png" class="w-100" alt="">
                       </div>
                    </div>
                    <div class="row">
                       <div class="col-10">
                        <h3 class="text-end">الانطلاق</h3>
                        <p class="text-end">
                            لدينا خبره في هذه المجالت المتخلفه منذ اكتر من 10 سنين في هذا المجال الكبير
نحن لدينا عمل مختلف  لدينا خبره في هذه المجالت المتخلفه منذ اكتر من 10 سنين
نحن لدينا عمل مختلف لدينا خبره في هذه المجالت المتخلفه منذ اكتر من 10 سنين
نحن لدينا عمل مختلف
                        </p>
                       </div>
                       <div class="col-2">
                        <img src="assets/images/logo5.png" class="w-100" alt="">
                       </div>
                    </div>
                 </div>
                 <div class="col-lg-2"></div>
                 <div class="col-lg-5 col-sm-12">
                    <h1 class="text-end">اليات العمل</h1>
                    <p class="text-end">لدينا خبره في هذه المجالت المتخلفه منذ اكتر من 10 سنين في هذا المجال الكبير
                        نحن لدينا عمل مختلف  لدينا خبره في هذه المجالت المتخلفه منذ اكتر من 10 سنين
                        نحن لدينا عمل مختلف لدينا خبره في هذه المجالت المتخلفه منذ اكتر من 10 سنين
                        نحن لدينا عمل مختلف
                        <br><br><br>
                        <button class="btncontact rounded-3">اخر اعمالنا</button>
                    </p>
                        <img src="assets/images/contactus2.png" class="w-100 my-2" alt="">
                 </div>
                </div>      
    </div> 
    
<br><br><br><br><br>

    <div class="container-fluid row m-auto">
       <div class="col-lg-4 col-md-12">
        <h1 class="text-end">رؤيتنا</h1><br>
        <img src="assets/images/firstofthirddiv.png" class="w-100" alt="">
       </div>
       
       <div class="col-lg-8 col-md-12">
        <h1 class="text-end">ملف الشركة</h1><br>
        <!-- <img src="assets/images/secondofthirddiv.png" class="w-100" alt=""> -->
        <div class="rounded-5 w-100 row bg-white p-3 mx-0">
            <div class="col-4 bg-white">
                <div id="carouselExampleCaptions" class="carousel slide">
                    <div class="carousel-indicators">
                      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                      <div class="carousel-item active bg-white">
                        <img src="assets/images/ceo.png" class="d-block m-auto" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="assets/images/downcoats.PNG" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                          <h5>Second slide label</h5>
                        </div>
                      </div>
                      <div class="carousel-item">
                        <img src="assets/images/downcoats.PNG" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                          <h5>Third slide label</h5>
                        </div>
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
            </div>
            <div class="col-8 bg-white">
                <img src="assets/images/uppercoats.PNG" style="float: right;" alt="">
                <br><br>
                <p class="bg-white text-dark fs-4" style="direction: rtl;">
                    لدينا خبرة في هذة المجالات المختلفة منذ اكثر من 10 سنوات في هذا المجال الكبير نحن لدينا عمل مختلف لدينا خبرة في هذة المجالات
                    لدينا خبرة في هذة المجالات المختلفة منذ اكثر من 10 سنوات في هذا المجال الكبير نحن لدينا عمل مختلف لدينا خبرة في هذة المجالات
                    لدينا خبرة في هذة المجالات المختلفة منذ اكثر من 10 سنوات في هذا المجال الكبير نحن لدينا عمل مختلف لدينا خبرة في هذة المجالات
                    لدينا خبرة في هذة المجالات المختلفة منذ اكثر من 10 سنوات في هذا المجال الكبير نحن لدينا عمل مختلف لدينا خبرة في هذة المجالات
                </p>
                <br>
                <img src="assets/images/downcoats.PNG" style="float: left;" alt="">
            </div>
        </div>
       </div>
    </div>    


</div>