* {
    background-image: url('./../../../assets/images/seconddiv.png');
    background-repeat: no-repeat;
    background-color: #1E1E1E;
}

.headsection2{
    border-bottom: 3px solid white;
    padding: 2%;
}
.btncontact{
    padding: 4% 8%;
    background-color: transparent;
    border: 2px solid #BD9A55;
    color: #BD9A55;
}