<div class="seconddiv">
    <br><br><br><br><br>
    <div class="seconddiv vh-100">
        <div class="d-flex justify-content-center">
          <h1 class="primary-color mt-5 headsection2">من نحن</h1>
        </div>
        <div class="container row mt-5">
            <div class="col-lg-6">
                <img src="assets/images/proxylogocontactus.png" class="w-100" alt="">
            </div>
            <div class="col-lg-6 text-center">
                <h1 class="primary-color">"" بروكسي جروب ""</h1>
                <p class="fs-4 lh-lg">
                    شركة بروكسي جروب للتسويق  والبرمجه هي إحدى الشركات الرائدة في مجال التسويق الرقمي والبرمجه، تأسست في عام 2023 ومقرها في مدينة ميامي بولاية فلوريدا في المملكه العربيه  السعوديه . تعمل الشركة على تقديم خدمات البرمجه والتصميم والتسويق الرقمي لمختلف الشركات والعلامات التجارية في مختلف القطاعات.
                </p>
            </div>
          
        </div>
    </div>

    <div class="seconddiv vh-100" >
        <div class="d-flex justify-content-center">
          <h1 class="primary-color mt-5 headsection2">لماذا تختار بروكسي</h1>
        </div>
                <p class="w-50 m-auto fs-3 text-center my-5">
                    شركة بروكسي جروب للتسويق  والبرمجه هي إحدى الشركات الرائدة في مجال التسويق الرقمي والبرمجه، تأسست في عام 2023 ومقرها في مدينة ميامي بولاية فلوريدا في المملكه العربيه  السعوديه . تعمل الشركة على تقديم خدمات البرمجه والتصميم والتسويق الرقمي لمختلف الشركات والعلامات التجارية في مختلف القطاعات.
                </p>    
                <div class="container row m-auto mt-5">
                 <div class="col-lg-5 col-sm-12">
                    <img src="assets/images/firstofgrid.png" class="w-100" alt="">
                 </div>
                 <div class="col-lg-2"></div>
                 <div class="col-lg-5 col-sm-12">
                    <img src="assets/images/secondofgrid.png" class="w-100" alt="">
                 </div>
                 <div class="col-lg-5 col-sm-12">
                    <img src="assets/images/thirdofgrid.png" class="w-100" alt="">
                 </div>
                 <div class="col-lg-2"></div>
                 <div class="col-lg-5 col-sm-12">
                    <img src="assets/images/fourthofgrid.png" class="w-100" alt="">
                 </div>
                </div>      
    </div>


<br><br><br><br><br><br>
    <div class="seconddiv vh-100">
                <div class="container row m-auto mt-5">
                 <div class="col-lg-5 col-sm-12">
                    <div class="row">
                       <div class="col-lg-10">
                        <h3 class="text-end">استكشاف</h3>
                        <p class="text-end">
                            لدينا خبره في هذه المجالت المتخلفه منذ اكتر من 10 سنين في هذا المجال الكبير
نحن لدينا عمل مختلف  لدينا خبره في هذه المجالت المتخلفه منذ اكتر من 10 سنين
نحن لدينا عمل مختلف لدينا خبره في هذه المجالت المتخلفه منذ اكتر من 10 سنين
نحن لدينا عمل مختلف
                        </p>
                       </div>
                       <div class="col-lg-2">
                        <img src="assets/images/logo1.png" class="w-100" alt="">
                       </div>
                    </div>
                    <div class="row">
                       <div class="col-lg-10">
                        <h3 class="text-end">التخطيط</h3>
                        <p class="text-end">
                            لدينا خبره في هذه المجالت المتخلفه منذ اكتر من 10 سنين في هذا المجال الكبير
نحن لدينا عمل مختلف  لدينا خبره في هذه المجالت المتخلفه منذ اكتر من 10 سنين
نحن لدينا عمل مختلف لدينا خبره في هذه المجالت المتخلفه منذ اكتر من 10 سنين
نحن لدينا عمل مختلف
                        </p>
                       </div>
                       <div class="col-lg-2">
                        <img src="assets/images/logo2.png" class="w-100" alt="">
                       </div>
                    </div>
                    <div class="row">
                       <div class="col-lg-10">
                        <h3 class="text-end">التصميم</h3>
                        <p class="text-end">
                            لدينا خبره في هذه المجالت المتخلفه منذ اكتر من 10 سنين في هذا المجال الكبير
نحن لدينا عمل مختلف  لدينا خبره في هذه المجالت المتخلفه منذ اكتر من 10 سنين
نحن لدينا عمل مختلف لدينا خبره في هذه المجالت المتخلفه منذ اكتر من 10 سنين
نحن لدينا عمل مختلف
                        </p>
                       </div>
                        <div class="col-lg-2">
                        <img src="assets/images/logo3.png" class="w-100" alt="">
                       </div>
                    </div>
                    <div class="row">
                       <div class="col-lg-10">
                        <h3 class="text-end">اختبار العمل</h3>
                        <p class="text-end">
                            لدينا خبره في هذه المجالت المتخلفه منذ اكتر من 10 سنين في هذا المجال الكبير
نحن لدينا عمل مختلف  لدينا خبره في هذه المجالت المتخلفه منذ اكتر من 10 سنين
نحن لدينا عمل مختلف لدينا خبره في هذه المجالت المتخلفه منذ اكتر من 10 سنين
نحن لدينا عمل مختلف
                        </p>
                       </div>
                        <div class="col-lg-2">
                        <img src="assets/images/logo4.png" class="w-100" alt="">
                       </div>
                    </div>
                    <div class="row">
                       <div class="col-lg-10">
                        <h3 class="text-end">الانطلاق</h3>
                        <p class="text-end">
                            لدينا خبره في هذه المجالت المتخلفه منذ اكتر من 10 سنين في هذا المجال الكبير
نحن لدينا عمل مختلف  لدينا خبره في هذه المجالت المتخلفه منذ اكتر من 10 سنين
نحن لدينا عمل مختلف لدينا خبره في هذه المجالت المتخلفه منذ اكتر من 10 سنين
نحن لدينا عمل مختلف
                        </p>
                       </div>
                       <div class="col-lg-2">
                        <img src="assets/images/logo5.png" class="w-100" alt="">
                       </div>
                    </div>
                 </div>
                 <div class="col-lg-2"></div>
                 <div class="col-lg-5 col-sm-12">
                    <h1 class="text-end">اليات العمل</h1>
                    <p class="text-end">لدينا خبره في هذه المجالت المتخلفه منذ اكتر من 10 سنين في هذا المجال الكبير
                        نحن لدينا عمل مختلف  لدينا خبره في هذه المجالت المتخلفه منذ اكتر من 10 سنين
                        نحن لدينا عمل مختلف لدينا خبره في هذه المجالت المتخلفه منذ اكتر من 10 سنين
                        نحن لدينا عمل مختلف
                        <br><br><br>
                        <button class="btncontact rounded-3">اخر اعمالنا</button>
                    </p>
                        <img src="assets/images/contactus2.png" class="w-100 my-2" alt="">
                 </div>
                </div>      
    </div>


<br><br><br><br><br>

    <div class="seconddiv vh-100">
    <div class="container-fluid row m-auto">
       <div class="col-lg-4">
        <h1 class="text-end">رؤيتنا</h1><br>
        <img src="assets/images/firstofthirddiv.png" class="w-100" alt="">
       </div>
       
       <div class="col-lg-8">
        <h1 class="text-end">ملف الشركة</h1><br>
        <img src="assets/images/secondofthirddiv.png" class="w-100" alt="">
       </div>
    </div>    
    </div>
</div>