* {
    background-image: url('./../../../assets/images/seconddiv.png');
    background-repeat: no-repeat;
    background-color: #1E1E1E;
}

.parent{
    position: relative;
    border: 1px solid #BD9A55;
}
.child{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.chip{
    min-height: 250px;
}

@media screen and (max-width: 600px) {
 .griddown{
    padding: 10%;
 }
}
  
