<div>
    <div class="d-none d-md-block"><br><br><br><br><br><br><br></div><br><br><br><br>
    <h1 class="m-auto text-center headsection2 w-50">خدمات شركة بروكسي</h1>
<div class="container m-auto mt-5">
    <div class="row">
        <div class="col-lg-3 rounded-4 col-sm-12 parent mx-lg-5 my-3">
            <div class="p-5 text-center">
                <img src="assets/images/🦆 illustration _Web Developer_.png" class="w-100" alt="">
                <h4 class="primary-color mt-2">تصميم المواقع الإلكتروني</h4>
                <p>موقع يتناسب مع احتياجاتك ليكون واجهة مميزة لما تقدمك شركتك</p>
            </div>
        </div>
        <div class="col-lg-3 rounded-4 col-sm-12 parent mx-lg-5 my-3">
            <div class="p-5 text-center">
                <img src="assets/images/Layer_1.png" class="w-100" alt="">
                <h4 class="primary-color mt-2">انتاج الفيديو الموشن</h4>
                <p>لا يهم ما هو مجال عملك . سنجد الطريقة الأنسب لتحويل مشروعك إلى تطبيق جوال فعال</p>
            </div>
        </div>  
        <div class="col-lg-3 rounded-4 col-sm-12 parent mx-lg-5 my-3">
            <div class="p-5 text-center">
                <img src="assets/images/OBJECTS.png" class="w-100" alt="">
                <h4 class="primary-color mt-2">التسويق الإلكتروني</h4>
                <p>تسوق لمنتجاتك من خلال انستقرام ؟ وسع قاعدة عملائك بمساعدة متجرك الإلكتروني الخاص بك</p>
            </div>
        </div>
        <div class="col-lg-3 rounded-4 col-sm-12 parent mx-lg-5 my-3">
            <div class="p-5 text-center mt-2">
                <img src="assets/images/🦆 illustration _Web Developer_.png" class="w-100" alt="">
                <h4 class="primary-color">باقات التصميم</h4>
                <p>لا يهم ما هو مجال عملك . سنجد الطريقة الأنسب لتحويل مشروعك إلى نطبيق جوال فعال</p>
            </div>
        </div>
        <div class="col-lg-3 rounded-4 col-sm-12 parent mx-lg-5 my-3">
            <div class="p-5 text-center mt-2">
                <img src="assets/images/Layer11.png" class="w-100" alt="">
                <h4 class="primary-color">تحسين محركات البحث</h4>
                <p>لا يهم ما هو مجال . سنجد الطريقة الأنسب لتحويل مشروعك إلى تطبيق جوال فعال</p>
            </div>
        </div>
        <div class="col-lg-3 rounded-4 col-sm-12 parent mx-lg-5 my-3">
            <div class="p-5 text-center mt-2">
                <img src="assets/images/social3.png" class="w-100" alt="">
                <h4 class="primary-color">ادارة حسابات التواصل</h4>
                <p>نتعامل مع حسابات التواصل الاجتماعي الخاصة بشركتك و نديرها بشكل فعالو مؤثر</p>
            </div>
        </div>
        
        
    </div>
</div>
<br><br><br>
<h1 class="m-auto text-center headsection2 w-50 ">تقدم بطلب و احصل على استشارة مجانية</h1>
<div class="text-center mt-4">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-12">
           <img src="assets/images/servicefooter.png" class="w-100" alt="">
            </div>
            <div class="col-lg-6 col-md-12 rightform rounded-4 p-5">
                <div>
                    <h3 class="text-end primary-color">
                        تواصل معنا للشكاوي و الحجوزات
                    </h3>
                    <p class="text-end primary-color">
                    اذا كنت تواجه مشكلة في الحجز الخاص بك او لديك استفسار معين تواصل معنا و سوف نرد عليك في اسرع وقت ممكن 
                    </p>
                </div>
                  <form class="row">
                    <div class="mb-3 col-6 text-end">
                      <label for="exampleInputEmail1" class="form-label primary-color">البريد الالكتروني</label>
                      <input type="email" class="form-control p-4 rounded-5" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3 col-6 text-end">
                      <label for="exampleInputPassword1" class="form-label primary-color">الاسم كامل</label>
                      <input type="text" class="form-control p-4 rounded-5" id="exampleInputPassword1">
                    </div>
                    <div class="mb-3 col-6 text-end">
                      <label for="exampleInputPassword1" class="form-label primary-color">الخدمة</label>
                      <input type="text" class="form-control p-4 rounded-5 inputdecor" id="exampleInputPassword1">
                    </div>
                    <div class="mb-3 col-6 text-end">
                      <label for="exampleInputPassword1" class="form-label primary-color">رقم الهاتف</label>
                      <input type="number" class="form-control p-4 rounded-5 inputdecor" id="exampleInputPassword1">
                    </div>
                    <div class="mb-3 col-12 text-end">
                      <label for="exampleInputPassword1" class="form-label primary-color">اكتب المشكلة التي تواجهك</label>
                      <textarea style="resize: none;" type="text" class="form-control p-4 rounded-5 inputdecor"></textarea>
                    </div>
                    <div class="mb-3 col-12 text-end">
                        <button type="submit" class="btn btn-primary w-lg-25 w-md-50 text-dark p-4 rounded-5">أرسل الأن</button>
                    </div>
                    
                  </form>
            </div>
        </div>
    </div>
</div>
</div>
