<div>
    <div class="d-none d-md-block"><br><br><br><br><br><br><br></div><br><br><br><br>
        <div class="container row">
            <div class="col-lg-6 text-end">
                <img src="assets/images/videoproduction.png" class="w-50" alt="">
            </div>
            <div class="col-lg-6 text-end">
            <h1 class="primary-color">تصميم الجرافيك</h1>
            <br>
            <ul class="list">
                <li class="my-1">نقدم في شركة خطاب ويب خدمة تصميم المواقع الالكترونية احترافية لعملائنا الكرام</li>
                <li class="my-1">شركة خطاب ويب شركة تصميم مواقع الكترونية في المملكة تتمتع بامكنيات خبرات نضعها في متناول عملائنا الكرام</li>
                <li class="my-1">اضافة متجرك لمحركات البحث تصميم موقع الكتروني احترافي عبر شركة خطاب ويب</li>
                <li class="my-1">تدريب العميل وموظفيه مجاناً تصميم موقع الكتروني احترافي</li>
                <li class="my-1">عمل صفحات احترافيه موقعك</li>
                <li class="my-1">متجر الكتروني مثل حراج</li>
                <li class="my-1">موقع الكتروني مثل اوبر وكريم</li>
                <li class="my-1">موقع الكتروني لسوبر ماركت</li>
                <li class="my-1">اسعار تصميم المتجر مناسبة للجميع الشركات والمتاجر</li>
                <li class="my-1">أفضل شركة لعمل تطبيقات في السعودية</li>
                <li class="my-1">تكلفة تصميم المتجر الألكتروني ميسورة للجميع الميزانيات. بدأت الكثير من الشركات والمؤسسات مؤخرا في السعي إلى تصميم تطبيقات</li>
                <li class="my-1">الجوال لكي تقوم بطرح خدماتها ومنتجاتها والتسويق والاعلان عنها من خلال تلك التطبيقات تحرص شركة خطاب ويب على تصميم</li>
                <li class="my-1">التسويق الكامل لمتجرك</li>
                <li class="my-1">امكانية التعديل والتطوير المستقبلي للمتجر</li>
                <li class="my-1">استضافه الموقع</li>
            </ul>
            </div>
        </div>
        
    <div class="container m-auto mt-3">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-3 rounded-4 col-sm-12 parent mx-lg-3 my-3">
                <div class="p-5 text-center">
                    <img src="assets/images/grid3.png" class="w-50" alt="">
                    <h4 class="primary-color mt-2 mb-5">تكاليف قليلة</h4>
                    <p>فبمجرد إنشاء متجر إلكتروني بشكل إحترافي، 
                        أنت لا تحتاح أن تفكر في مكان لعرض منتجاتك،
                         ولا في عمالة لتعيينهم، ولا تحتاج فتح الكثير من
                         الأفرع للوصول لأكبر عدد من العملاء.
                        </p>
                </div>
            </div>
            <div class="col-lg-3 rounded-4 col-sm-12 parent mx-lg-3 my-3">
                <div class="p-5 text-center">
                    <img src="assets/images/grid1.png" class="w-50" alt="">
                    <h4 class="primary-color mt-2 mb-5">وقت اقل مجهود اقل</h4>
                    <p>
                        المتجر سيجعلك تستثمر وقتك بشكل أفضل.
     فبدلًا من تقضية الوقت كله في مقر شركتك
     أو في محلك يمكنك إدارة كل مشروعك من على
     هاتفك بكل  سهولة؛ وبالتالي سيوفر لك المال؛ 
    لأنك لن  تحتاج موظفين للعمل
     عندك لاستجلاب  ومتابعة العملاء، أنت من 
    ستباشر عملك بنفسك.
    
                    </p>
                </div>
            </div>  
            <div class="col-lg-3 rounded-4 col-sm-12 parent mx-lg-3 my-3">
                <div class="p-5 text-center">
                    <img src="assets/images/grid2.png" class="w-50" alt="">
                    <h4 class="primary-color mt-2 mb-5">التسويق الدائم في كل وقت و على أوسع نطاق</h4>
                    <p>
                        فالمتجر  يُمكِّنك من عرض منتجانك على نطاق 
    واسع، وفي كل مكان في العالم؛ مما يوسِّع
     نشاطك التجاري، أفضل من أن يكون لك مَحال
     تجارية في أماكن محدودة وعملاء محدودين.
    
                    </p>
                </div>
            </div>
            <div class="col-lg-3 rounded-4 col-sm-12 parent mx-lg-3 my-3">
                <div class="p-5 text-center mt-2">
                    <img src="assets/images/grid6.png" class="w-50" alt="">
                    <h4 class="primary-color mb-5 mt-2">تحرير تصميم متجر الكتروني بكل سهولة</h4>
                    <p>
                        فتستطيع تغيير تصميمك بكل سلاسة بما
      يتناسب مع متطلباتك ونوع منتجاتك،ونحن في
     (خطاب) قادرين على تقديم كافة 
    المساعدات لك؛ حتى يظهر متجرك بشكل 
    متميز يجذب العملاء.
    
                      </p>
                </div>
            </div>
            <div class="col-lg-3 rounded-4 col-sm-12 parent mx-lg-3 my-3">
                <div class="p-5 text-center mt-2">
                    <img src="assets/images/grid5.png" class="w-50" alt="">
                    <h4 class="primary-color mb-4 mt-2">سهولة السحن للعملاء</h4>
                    <p>
                        حيث يمكنك ربط المعاملات مع شركات الشحن
     السريع؛ لتنفيذ أوامر الشحن بشكل تلقائي عند طلب
     العميل؛ مما يوثق العلاقة أكثر بين العملاء 
    ومتجرك وهذا يُزيد من عدد زوَّار متجرك الإلكتروني
     وبالتالي الأرباح.
    
                    </p>
                </div>
            </div>
            <div class="col-lg-3 rounded-4 col-sm-12 parent mx-lg-3 my-3">
                <div class="p-5 text-center mt-2">
                    <img src="assets/images/grid4.png" class="w-50" alt="">
                    <h4 class="primary-color mb-4 mt-2">سهولة التعاملات المادية</h4>
                    <p>
                        فطريقة الدفع الإلكترونية أكثر ليونة من الدفع
     النقدي، فنظرًا لمواكبة العصر فالدفع عن طريق
     البطاقات الإلكترونية قد أصبحالأكثر سرعة في السداد
    كذلك يجعلك تتفادى النقود المزورة أو الهالكة أو
     ما شابه ومتابعة مسحقاتك المالية بشكل 
    يومي وأنت في مكانك
                    </p>
                </div>
            </div>
            <div class="col-lg-3 rounded-4 col-sm-12 parent mx-lg-3 my-3">
                <div class="p-5 text-center mt-2">
                    <img src="assets/images/grid6.png" class="w-50" alt="">
                    <h4 class="primary-color mb-5 mt-2">تحرير تصميم متجر الكتروني بكل سهولة</h4>
                    <p>
                        فتستطيع تغيير تصميمك بكل سلاسة بما
      يتناسب مع متطلباتك ونوع منتجاتك،ونحن في
     (خطاب) قادرين على تقديم كافة 
    المساعدات لك؛ حتى يظهر متجرك بشكل 
    متميز يجذب العملاء.
    
                      </p>
                </div>
            </div>
            <div class="col-lg-3 rounded-4 col-sm-12 parent mx-lg-3 my-3">
                <div class="p-5 text-center mt-2">
                    <img src="assets/images/grid5.png" class="w-50" alt="">
                    <h4 class="primary-color mb-4 mt-2">سهولة السحن للعملاء</h4>
                    <p>
                        حيث يمكنك ربط المعاملات مع شركات الشحن
     السريع؛ لتنفيذ أوامر الشحن بشكل تلقائي عند طلب
     العميل؛ مما يوثق العلاقة أكثر بين العملاء 
    ومتجرك وهذا يُزيد من عدد زوَّار متجرك الإلكتروني
     وبالتالي الأرباح.
    
                    </p>
                </div>
            </div>
            <div class="col-lg-3 rounded-4 col-sm-12 parent mx-lg-3 my-3">
                <div class="p-5 text-center mt-2">
                    <img src="assets/images/grid4.png" class="w-50" alt="">
                    <h4 class="primary-color mb-4 mt-2">سهولة التعاملات المادية</h4>
                    <p>
                        فطريقة الدفع الإلكترونية أكثر ليونة من الدفع
     النقدي، فنظرًا لمواكبة العصر فالدفع عن طريق
     البطاقات الإلكترونية قد أصبحالأكثر سرعة في السداد
    كذلك يجعلك تتفادى النقود المزورة أو الهالكة أو
     ما شابه ومتابعة مسحقاتك المالية بشكل 
    يومي وأنت في مكانك
    
                    </p>
                </div>
            </div>
            
            
            
        </div>
    </div>
        
    </div>