<div>
  <br><br><br><br><br><br><br>
    <h1 class="m-auto text-center headsection2 w-50">تواصل معنا</h1>
    <div class="container m-auto mt-5">
        <div class="row">
            <div class="col-lg-6 col-sm-12">
                <h1 class="text-end">تواصل معنا <span class="primary-color">عبر</span></h1>
                <div class="row">
                    <div class="col-12">
                       <h3 class="text-end">البريد الالكرتوني <img src="assets/images/icon1 (2).png" class="m-4" alt=""></h3>
                       <p class="text-end">info@proxy.sa</p>
                       <p class="text-end">info@proxy.sa</p>
                    </div>
                    <div class="col-12">
                        <h3 class="text-end">رقم الهاتف <img src="assets/images/icon22.png" class="m-4" alt=""></h3>
                       <p class="text-end">+96654125639</p>
                       <p class="text-end">+96654125639</p>
                       <p class="text-end">+96654125639</p>
                    </div>
                    <div class="col-12">
                        <h3 class="text-end">عنواينا <img src="assets/images/icon33.png" class="m-4" alt=""></h3>
                       <p class="text-end">المملكة العربية السعودية, جدة , شارع الأمير سلطان . برج سكاي الدور الأول</p>
                       <p class="text-end">الامارات العربية المتحدة , مركز التجارة العالمي</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-12">
                <img src="assets/images/contactuslogo.png" class="w-100" alt="">
            </div>
        </div>
    </div>
    <br><br><br>
    <h1 class="m-auto text-center headsection2 w-50 ">للاستفسارات و الشكاوي</h1>
    <div class="text-center mt-4">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-sm-12">
               <img src="assets/images/servicefooter.png" class="w-100" alt="">
                </div>
                <div class="col-lg-6 col-sm-12 rightform rounded-4 p-5">
                    <div>
                        <h3 class="text-end primary-color">
                            تواصل معنا للشكاوي و الحجوزات
                        </h3>
                        <p class="text-end primary-color">
                        اذا كنت تواجه مشكلة في الحجز الخاص بك او لديك استفسار معين تواصل معنا و سوف نرد عليك في اسرع وقت ممكن 
                        </p>
                    </div>
                      <form class="row">
                        <div class="mb-3 col-6 text-end">
                          <label for="exampleInputEmail1" class="form-label primary-color">البريد الالكتروني</label>
                          <input type="email" class="form-control p-4 rounded-5" id="exampleInputEmail1" aria-describedby="emailHelp">
                        </div>
                        <div class="mb-3 col-6 text-end">
                          <label for="exampleInputPassword1" class="form-label primary-color">الاسم كامل</label>
                          <input type="text" class="form-control p-4 rounded-5" id="exampleInputPassword1">
                        </div>
                        <div class="mb-3 col-6 text-end">
                          <label for="exampleInputPassword1" class="form-label primary-color">الخدمة</label>
                          <input type="text" class="form-control p-4 rounded-5 inputdecor" id="exampleInputPassword1">
                        </div>
                        <div class="mb-3 col-6 text-end">
                          <label for="exampleInputPassword1" class="form-label primary-color">رقم الهاتف</label>
                          <input type="number" class="form-control p-4 rounded-5 inputdecor" id="exampleInputPassword1">
                        </div>
                        <div class="mb-3 col-12 text-end">
                          <label for="exampleInputPassword1" class="form-label primary-color">اكتب المشكلة التي تواجهك</label>
                          <textarea style="resize: none;" type="text" class="form-control p-4 rounded-5 inputdecor"></textarea>
                        </div>
                        <div class="mb-3 col-12 text-end">
                            <button type="submit" class="btn btn-primary w-lg-25 text-dark p-4 rounded-5">أرسل الأن</button>
                        </div>
                        
                      </form>
                </div>
            </div>
        </div>
    </div>
    </div>
    