/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: "My Custom Font";
    src: url("./assets/font/Tajawal-Regular.ttf")
  }
*{
    color: white !important;
    font-family: 'My Custom Font', Courier, monospace;
}
.primary-color{
    color: #BD9A55 !important;
}
.pointer{
    cursor: pointer;
}
.arabpar{
text-align: justify;
}
.dropdown-toggle::after{
    margin: 0px 2px -4px;
}

.dropdown-item:focus, .dropdown-item:hover{
    min-width: 100% !important;
    background-color: #000 !important;
    text-align: start !important;
    color: #BD9A55 !important;
}

.navbar-toggler-icon{
    background-image: url('./assets/images/navbaricon.PNG') !important;
}
.navbar-toggler-icon:focus{
    border: 2px solid red !important;
}
button:focus{
    outline: none !important;
    border: 0px solid transparent;
}
